:root {
  --primary-red: #e3646e;
  --primary-purple: #bb72e9;
  --primary-blue: #3996db;
  --primary-green: #82bc4f;
  --primary-yellow: #eabd5f;

  --gray-100: #e2e4e9;
  --gray-200: #c0c4ce;
  --gray-300: #878ea1;
  --gray-400: #292c34;
  --gray-500: #16181d;
  --gray-600: #0d0e11;

  --font-family-title: "Asap", sans-serif;
  --font-family-subtitle: "Inconsolata", monospace;
  --font-family-text: "Maven Pro", sans-serif;

  --text-title-lg: bold 3.5rem/120% var(--font-family-title);
  --text-title-md: bold 2rem/120% var(--font-family-title);
  --text-title-sm: bold 1rem/120% var(--font-family-title);

  --text-subtitle: 1.25rem/120% var(--font-family-subtitle);
  --text-md: 1rem/140% var(--font-family-text);
  --text-sm: 0.875rem/140% var(--font-family-text);

  --svg-filter-red: invert(49%) sepia(67%) saturate(838%) hue-rotate(313deg) brightness(96%) contrast(85%);

  --svg-filter-blue: invert(60%) sepia(15%) saturate(2019%) hue-rotate(166deg) brightness(87%) contrast(98%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: var(--text-md);
  background-color: var(--gray-500);
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3 {
  font: inherit;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1366px;  
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
