.projects {
  width: 100%;
  padding-inline: 163px;
  #projects-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 72px 56px;

    h2 {
      margin-bottom: 8px;
    }
  }

  #project-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
    margin-bottom: 144px;
  }

  .project-card {
    padding: 12px 12px 17px;
    background-color: var(--gray-400);
    border-radius: 12px;

    img {
      margin-bottom: 20px;
      border-radius: 8px;
    }

    h3 {
      margin-bottom: 8px;
    }
  }
}

.service {
  width: 100%;
  background-color: var(--gray-600);
  padding-block: 88px 120px;

  .service-header {
    margin-bottom: 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  #service-cards {
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr; */
    display: flex;
    justify-self: center;
    column-gap: 24px;
    /* justify-items: center; */
  }

  .service-card {
    min-width: 280px;
    padding: 20px;
    border: 2px solid var(--gray-500);
    border-radius: 12px;

    img {
      width: 48px;
      aspect-ratio: 1/1;
      margin-bottom: 14px;
    }

    h3 {
      margin-bottom: 8px;
    }
  }
}

.contact {
  width: 100%;
  
  padding-block: 128px 100px;
  #contact-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 6px;
    margin-bottom: 48px;
  }
}

.contact-links {
  width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
  .social-button {
    border: 1px solid transparent;

    width: 100%;
    background-color: var(--gray-400);
    padding: 20px;
    border-radius: 8px;
    a {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 12px;

      img:nth-child(1) {
        width: 28px;
      }

      span {
        font-weight: 600;
        text-align: left;
        width: 100%;
      }

      img:nth-child(3) {
        width: 20px;
        aspect-ratio: 1/1;
      }
    }
  }

  .social-button:hover {
    border: 1px solid var(--primary-blue);

    img {
      filter: var(--svg-filter-blue);
    }
  }
}
